@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2></h2>
<br />
@Html.Action("FeaturedPost", "Blog")
@Html.Action("BlogList", "Blog")
@Html.Action("AddMail", "Mail")
@Html.Action("About", "About")

